.DivheadUpdates{
}

.DivbodyUpdates{
    display:none;
}

.DivheadFaq{

}
.DivbodyFaq{
    display:none;
    transition: all .5s ease-in-out;
}

.DivheadContact{

}
.DivbodyContact{
    display:none;
}

.DivheadAbout{

}
.DivbodyAbout{
    display:none;
}






